<footer class="footer">
  <button class="ico-arrow">
    <a href="#reasons">
      <img src="./assets/images/ico-arrow.svg" alt="Press to go up" title="Press to go up" />
    </a>
  </button>
  <nav class="interesting">
    <ul>
      <li class="li-bullets">
        <a href="https://adalab.es/" target="_blanc">Articles</a>
      </li>
      <li class="li-bullets">
        <a href="https://adalab.es/" target="_blanc">Books</a>
      </li>
      <li class="li-bullets">
        <a href="https://adalab.es/" target="_blanc">Events</a>
      </li>
      <li class="li-bullets">
        <a href="https://adalab.es/" target="_blanc">Reasons</a>
      </li>
      <li class="li-bullets">
        <a href="https://adalab.es/" target="_blanc">Tips</a>
      </li>
    </ul>
  </nav>

  <nav class="social-media">
    <ul>
      <li class="li-bullets">
        <a href="https://adalab.es/" target="_blanc">Twitter</a>
      </li>
      <li class="li-bullets">
        <a href="https://adalab.es/" target="_blanc">Instagram</a>
      </li>
      <li class="li-bullets">
        <a href="https://adalab.es/" target="_blanc">Mastodon social</a>
      </li>
    </ul>
  </nav>

  <small class="copyright-container">
    <span class="footer-copyright"> &copy; 2017 </span>
    <span class="footer-love">
      <span class="we">we</span>
      <span class="heart">&#10084;</span>
      <span>components</span>
    </span>
  </small>
</footer>
