<footer class="footer">
  <section class="interesting-container">
    <nav class="interesting">
      <ul>
        <li>
          <a href="">Articles</a>
        </li>
        <li>
          <a href="">Books</a>
        </li>
        <li>
          <a href="">Events</a>
        </li>
        <li>
          <a href="">Reasons</a>
        </li>
        <li>
          <a href="">Tips</a>
        </li>
      </ul>
    </nav>
  </section>

  <section class="social-media-container">
    <nav class="social-media">
      <ul>
        <li>
          <a href="">Twitter</a>
        </li>
        <li>
          <a href="">Instagram</a>
        </li>
        <li>
          <a href="">Mastodon social</a>
        </li>
      </ul>
    </nav>
  </section>

  <small class="copyright-container">
    <span class="footer-copyright"> &copy; 2020 </span>
    <span class="footer-love">we &#10084;&#65039; components</span>
  </small>
</footer>
