<section class="looking-container">
  <nav>
    <p class="insomnia-tips">
      <a href="https://adalab.es/" alt="Tips to sleep well" target="_blanc">Insomnia tips</a>
    </p>
  </nav>
  <article class="looking">
    <h2 class="looking-title">Looking through a window</h2>
    <p class="looking-description">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
  <a href="https://adalab.es/" target="_blanc">
    <button class="go-button">Go</button>
  </a>
</article>
</section>
