<section class="reasons-purchase">
  <h2 class="reasons-title">3 reasons to purchase</h2>
  <div class="reasons">
    <article class="reasons">
      <div class="first-reason">
        <h3 class="reason-title">Ut sed metus</h3>
        <p class="reason-description">Lorem ipsum, dolor sit amet consectetur</p>
      </div>
    </article>
    <article class="reasons">
      <div class="second-reason">
        <h3 class="reason-title">Curabitur ac erat</h3>
        <p class="reason-description">Maurius mattis urna quis lorem molestie</p>
      </div>
    </article>
    <article class="reasons">
      <div class="third-reason">
        <h3 class="reason-title">Morbi dictum</h3>
        <p class="reason-description">Aliquam in dolor et dolor tincidunt</p>
      </div>
      <button class="more-reasons-button">More reasons</button>
    </article>
  </div>
</section>
</main>