<section class="reasons-purchase">
  <h2 class="reasons-title">3 reasons to purchase</h2>
  <article class="reasons">
    <div class="first-reason">
      <h3 class="reason-title">Ut sed metus</h3>
      <p class="reason-description">Lorem ipsum, dolor sit amet consectetur</p>
    </div>
    <div class="second-reason">
      <h3 class="reason-title">Curabitur ac erat</h3>
      <p class="reason-description">Maurius mattis urna quis lorem molestie</p>
    </div>
    <div class="third-reason">
      <h3 class="reason-title">Morbi dictum</h3>
      <p class="reason-description">Aliquam in dolor et dolor tincidunt</p>
    </div>
    <a href="https://adalab.es/" target="_blanc">
      <button class="reasons-button">More reasons</button>
    </a>
  </article>
</section>
