//fonts
$title-font: "RobotoSlab",
sans-serif;
$text-font: "Roboto",
sans-serif;

//colors
$base-color: #ffffff;
$basic-color: #000000;
$footer__background--color: #304268;
$hamburguer__background--color:#0271bc;
$button-details: #f26002;
$background__reasons--color: #eff9ff;
$insomnia__tips--color: #8ccbea;
$hamburguer__interaction: #FADBD8;