* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px; }

.header {
  display: flex;
  position: fixed;
  justify-content: flex-start; }

.hamburguer-button {
  width: 44px;
  height: 44px;
  background-color: #0271bc; }

.hero {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  text-align: center;
  align-items: center;
  color: #ffffff; }

.hero-title {
  width: 320px;
  font-size: 42px;
  text-transform: uppercase;
  font-family: "RobotoSlab", sans-serif; }

.hero-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 290px;
  height: 21px; }

.ico-scroll {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  bottom: 53px; }

.looking {
  background-color: #ffffff;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 376px;
  width: 320; }

.go {
  background-color: #ffffff;
  color: #f26002; }

.reasons-purchase {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  background-color: #eff9ff;
  height: 624px; }

.reasons {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 6;
  gap: 45px;
  padding-top: 45px;
  padding-bottom: 150px;
  justify-content: center; }

.reasons-title {
  font-size: 24px;
  text-transform: uppercase;
  color: #000000;
  height: 30px;
  font-family: "RobotoSlab", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 15px;
  line-height: 1.25; }
  @media all and (min-width: 768px) {
    .reasons-title {
      width: 100%; } }
  @media all and (min-width: 1200px) {
    .reasons-title {
      width: 50.1%; } }

.reason-description {
  font-family: "Roboto", sans-serif;
  width: 180px;
  height: 63px; }

.reasons-button {
  background-color: #f26002;
  color: #ffffff;
  font-size: 20px;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  line-height: 2.25; }

.footer {
  box-sizing: border-box;
  border-top: solid 1px #304268;
  width: 100%;
  height: 465px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 10%;
  align-items: center;
  background-color: #304268;
  color: #ffffff; }
  @media all and (min-width: 768px) {
    .footer {
      display: flex;
      flex-direction: row-reverse;
      position: relative;
      height: 170px;
      align-items: initial; } }
  @media all and (min-width: 1200px) {
    .footer {
      width: 100%;
      height: 161px; } }
  .footer .interesting {
    text-align: center;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin: 0px;
    left: 124px;
    right: 123px;
    top: 60px;
    bottom: 255px;
    line-height: 30px;
    text-transform: uppercase; }
    @media all and (min-width: 768px) {
      .footer .interesting {
        text-align: right;
        line-height: 30px;
        position: absolute;
        right: 50px;
        top: 24px; } }
    @media all and (min-width: 1200) {
      .footer .interesting {
        position: absolute;
        bottom: 15px;
        right: 138px; } }
  .footer .social-media {
    text-align: center;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin: 0px;
    left: 124px;
    right: 123px;
    top: 60px;
    bottom: 255px;
    line-height: 30px;
    text-transform: uppercase; }
    @media all and (min-width: 768px) {
      .footer .social-media {
        text-align: right;
        line-height: 30px;
        position: relative;
        right: 50px;
        top: 24px; } }
    @media all and (min-width: 1200) {
      .footer .social-media {
        position: absolute;
        bottom: 15px;
        right: 138px; } }
  .footer .li-bullets {
    list-style: none;
    text-transform: uppercase; }
    .footer .li-bullets a {
      color: #ffffff;
      text-decoration: none; }

.footer-copyright {
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  display: flex;
  height: 30px;
  flex-wrap: wrap;
  margin: 0; }
  @media all and (min-width: 768px) {
    .footer-copyright {
      text-align: left;
      position: relative;
      left: 39px;
      bottom: 165px;
      top: 45px;
      width: 172px;
      height: 20px; } }
  @media all and (min-width: 1200) {
    .footer-copyright {
      text-align: left;
      line-height: 30px;
      top: 75px;
      bottom: 135px;
      left: 370px; } }

.footer-love {
  font-weight: normal;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  height: 30px;
  text-align: center;
  margin: 0; }
  @media all and (min-width: 768px) {
    .footer-love {
      text-align: left;
      position: relative;
      line-height: 30px;
      left: 39px;
      top: 68px;
      bottom: 142px; } }
  @media all and (min-width: 1200) {
    .footer-love {
      text-align: left;
      position: absolute;
      line-height: 30px;
      top: 75px;
      bottom: 135px;
      left: 370px; } }

/*# sourceMappingURL=main.css.map */
