* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px; }

.header {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: flex-start; }

.hamburguer-button {
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  border: none; }
  .hamburguer-button:hover {
    background-color: #FADBD8; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.hero-text {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  color: #ffffff;
  padding: 53px; }

.hero-title {
  width: 290px;
  height: 284px;
  font-size: 42px;
  text-transform: uppercase;
  font-family: "RobotoSlab", sans-serif;
  line-height: 55px;
  padding: 10px; }
  @media all and (min-width: 768px) {
    .hero-title {
      width: 690px;
      height: 212px;
      font-size: 80px;
      line-height: 106px; } }
  @media all and (min-width: 1280px) {
    .hero-title {
      width: 730px;
      height: 264px;
      font-size: 100px;
      line-height: 132px; } }

.hero-subtitle {
  align-content: flex-start;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 45px; }
  @media all and (min-width: 768px) {
    .hero-subtitle {
      width: 360px;
      height: 32px;
      font-size: 24px; } }
  @media all and (min-width: 1280px) {
    .hero-subtitle {
      width: 730px;
      height: 32px;
      font-size: 24px; } }

.ico-scroll {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  border: none; }
  .ico-scroll:hover {
    transition: transform ease 7s, background-color ease 1s;
    background-color: #8ccbea;
    transform: translate(0vw, 50vh); }

.looking-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: static;
  text-align: left;
  height: 376px;
  padding-left: 15px; }
  @media all and (min-width: 768px) {
    .looking-container {
      padding-left: 39px;
      height: 330px; } }
  @media all and (min-width: 1280px) {
    .looking-container {
      padding-left: 275px;
      height: 360px; } }

.insomnia-tips {
  width: 90px;
  height: 30px;
  font-size: 14px;
  margin-top: 30px; }
  .insomnia-tips a {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    color: #8ccbea;
    text-decoration: none; }
  @media all and (min-width: 768px) {
    .insomnia-tips {
      width: 216px;
      height: 14px;
      font-size: 16px;
      margin-top: 30px; } }
  @media all and (min-width: 1280px) {
    .insomnia-tips {
      width: 360px;
      height: 30px;
      font-size: 16px;
      margin-top: 60px; } }

.looking {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  gap: 15px;
  line-height: 30px; }

.looking-title {
  height: 60px;
  width: 290px;
  font-size: 24px;
  font-family: "RobotoSlab", sans-serif;
  text-transform: capitalize; }
  @media all and (min-width: 768px) {
    .looking-title {
      width: 690px;
      height: 45px;
      font-size: 26px; } }
  @media all and (min-width: 1280px) {
    .looking-title {
      width: 730px;
      height: 45px;
      font-size: 32px; } }

.looking-description {
  height: 120px;
  width: 290px;
  font-size: 18px; }
  @media all and (min-width: 768px) {
    .looking-description {
      width: 690px;
      height: 60px;
      font-size: 20px; } }
  @media all and (min-width: 1280px) {
    .looking-description {
      width: 730px;
      height: 60px;
      font-size: 20px; } }

.go-button {
  background-color: #ffffff;
  color: #f26002;
  height: 45px;
  width: 76px;
  border-radius: 22.5px;
  border: solid 2px #f26002; }
  .go-button:hover {
    background-color: orange; }
  @media all and (min-width: 768px) {
    .go-button {
      width: 160px;
      height: 45px;
      font-size: 20px; } }

.reasons-purchase {
  background-color: #eff9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 30px; }
  @media all and (min-width: 768px) {
    .reasons-purchase {
      height: 397px; } }
  @media all and (min-width: 1280px) {
    .reasons-purchase {
      height: 427px; } }

.reasons-title {
  font-size: 24px;
  color: #000000;
  height: 30px;
  font-family: "RobotoSlab", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 15px;
  text-transform: capitalize; }
  @media all and (min-width: 768px) {
    .reasons-title {
      font-size: 26px; } }
  @media all and (min-width: 1280px) {
    .reasons-title {
      font-size: 32px; } }

.reasons {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  gap: 45px;
  padding-top: 45px;
  padding-bottom: 45px;
  justify-content: center; }
  @media all and (min-width: 768px) {
    .reasons {
      grid-auto-flow: column;
      grid-template-columns: 2;
      grid-template-rows: 1; } }

.reason-title {
  font-size: 18px;
  font-family: "RobotoSlab", sans-serif;
  width: 184px;
  height: 30px; }
  @media all and (min-width: 768px) {
    .reason-title {
      font-size: 24px;
      width: 210px;
      height: 30px; } }
  @media all and (min-width: 1280px) {
    .reason-title {
      width: 350px;
      height: 30px; } }

.reason-description {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  width: 180px;
  height: 63px; }
  @media all and (min-width: 768px) {
    .reason-description {
      font-size: 20px;
      width: 212, 3px;
      height: 68px;
      padding-left: 35.7px; } }
  @media all and (min-width: 1280px) {
    .reason-description {
      font-size: 20px;
      width: 353, 8px;
      height: 68px; } }

.reasons-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px; }

.reasons-button {
  background-color: #f26002;
  color: #ffffff;
  font-size: 20px;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  line-height: 2.25;
  border: none; }
  .reasons-button:hover {
    background-color: #304268;
    color: #E59866; }
  @media all and (min-width: 768px) {
    .reasons-button {
      width: 210px;
      height: 45px; } }
  @media all and (min-width: 1280px) {
    .reasons-button {
      width: 255px; } }

.footer {
  box-sizing: border-box;
  height: 465px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10%;
  align-items: center;
  background-color: #304268;
  color: #ffffff;
  line-height: 30px;
  padding-top: 0; }
  @media all and (min-width: 768px) {
    .footer {
      display: flex;
      flex-direction: row-reverse;
      height: 240px; } }
  .footer .interesting {
    text-align: center;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin: 0px;
    left: 124px;
    line-height: 30px;
    text-transform: uppercase; }
    @media all and (min-width: 768px) {
      .footer .interesting {
        text-align: left;
        line-height: 30px;
        flex-direction: row-reverse;
        position: relative;
        right: 50px;
        top: 24px;
        height: 150px;
        width: 210px; } }
    @media all and (min-width: 1200) {
      .footer .interesting {
        position: absolute;
        bottom: 15px;
        right: 138px; } }
  .footer .social-media {
    text-align: center;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin: 0px;
    left: 124px;
    right: 123px;
    top: 60px;
    bottom: 255px;
    text-transform: uppercase; }
    @media all and (min-width: 768px) {
      .footer .social-media {
        text-align: left;
        position: relative;
        top: 24px; } }
    @media all and (min-width: 1200) {
      .footer .social-media {
        bottom: 15px;
        right: 138px; } }
  .footer .links {
    padding-top: 45px;
    flex-direction: row; }
    @media all and (min-width: 768px) {
      .footer .links {
        display: flex; } }
    @media all and (min-width: 1200) {
      .footer .links {
        display: flex;
        position: relative; } }
  .footer .li-bullets {
    list-style: none;
    text-transform: uppercase; }
    .footer .li-bullets a {
      color: #ffffff;
      text-decoration: none; }

.footer-copyright {
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  display: flex;
  height: 30px;
  flex-wrap: wrap;
  margin: 0; }
  @media all and (min-width: 768px) {
    .footer-copyright {
      text-align: left;
      left: 39px;
      bottom: 165px;
      top: 45px;
      width: 172px;
      height: 20px; } }
  @media all and (min-width: 1200) {
    .footer-copyright {
      text-align: left;
      top: 75px;
      bottom: 135px;
      left: 370px; } }

.footer-love {
  font-weight: normal;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  height: 30px;
  text-align: center;
  margin: 0; }
  @media all and (min-width: 768px) {
    .footer-love {
      text-align: right;
      padding-left: 65px;
      top: 68px;
      bottom: 142px; } }
  @media all and (min-width: 1200) {
    .footer-love {
      text-align: left;
      position: absolute;
      top: 75px;
      bottom: 135px;
      left: 370px; } }

.heart {
  color: #f26002; }

.ico-arrow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  border: none; }
  .ico-arrow:hover {
    transition: transform ease 7s, background-color ease 1s;
    background-color: #8ccbea;
    transform: translate(0vw, -50vh); }
  @media all and (min-width: 768px) {
    .ico-arrow {
      text-align: left;
      position: relative;
      left: 39px;
      top: 68px;
      bottom: 142px; } }
  @media all and (min-width: 1200) {
    .ico-arrow {
      text-align: left;
      position: absolute;
      top: 75px;
      bottom: 135px;
      left: 370px; } }

.footer_button-container {
  display: flex;
  position: absolute;
  align-items: flex-start;
  padding-bottom: 410px; }
  @media all and (min-width: 768px) {
    .footer_button-container {
      padding-bottom: 290px;
      text-align: center; } }
  @media all and (min-width: 1200) {
    .footer_button-container {
      display: flex;
      padding-bottom: 500px; } }

.new-section {
  background-color: #304268;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  color: white; }

@media all and (min-width: 768px) {
  .text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; } }

/*# sourceMappingURL=main.css.map */
