.footer {
  box-sizing: border-box;
  height: 465px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10%;
  align-items: center;
  background-color: $footer__background--color;
  color: $base-color;
  line-height: 30px;
  padding-top: 0;

  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    height: 240px;
  }

  @media all and (min-width: 1200px) {}

  .interesting {
    text-align: center;
    color: $base-color;
    font-family: $text-font;
    font-weight: 500;
    font-size: 14px;
    margin: 0px;
    left: 124px;
    line-height: 30px;
    text-transform: uppercase;

    @media all and (min-width: 768px) {
      text-align: left;
      line-height: 30px;
      flex-direction: row-reverse;
      position: relative;
      right: 50px;
      top: 24px;
      height: 150px;
      width: 210px;
    }

    @media all and (min-width: 1200) {
      position: absolute;
      bottom: 15px;
      right: 138px;
    }
  }

  .social-media {
    text-align: center;
    color: $base-color;
    font-family: $text-font;
    font-size: 14px;
    margin: 0px;
    left: 124px;
    right: 123px;
    top: 60px;
    bottom: 255px;
    text-transform: uppercase;

    @media all and (min-width: 768px) {
      text-align: left;
      position: relative;
      top: 24px;
    }

    @media all and (min-width: 1200) {
      bottom: 15px;
      right: 138px;
    }
  }

  .links {
    padding-top: 45px;
    ;
    flex-direction: row;


    @media all and (min-width: 768px) {
      display: flex;
    }

    @media all and (min-width: 1200) {
      display: flex;
      position: relative;
    }

  }

  .li-bullets {
    list-style: none;
    text-transform: uppercase;

    a {
      color: $base-color;
      text-decoration: none;
    }
  }
}

.footer-copyright {
  font-weight: normal;
  font-family: $text-font;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  display: flex;
  height: 30px;
  flex-wrap: wrap;
  margin: 0;

  @media all and (min-width: 768px) {
    text-align: left;
    left: 39px;
    bottom: 165px;
    top: 45px;
    width: 172px;
    height: 20px;
  }

  @media all and (min-width: 1200) {
    text-align: left;
    top: 75px;
    bottom: 135px;
    left: 370px;
  }
}

.footer-love {
  font-weight: normal;
  color: $base-color;
  font-family: $text-font;
  font-size: 14px;
  height: 30px;
  text-align: center;
  margin: 0;

  @media all and (min-width: 768px) {
    text-align: right;
    padding-left: 65px;
    top: 68px;
    bottom: 142px;
  }

  @media all and (min-width: 1200) {
    text-align: left;
    position: absolute;
    top: 75px;
    bottom: 135px;
    left: 370px;
  }
}

.heart {
  color: $button-details
}


.ico-arrow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  border: none;

  &:hover {
    transition: transform ease 7s, background-color ease 1s;
    background-color: $insomnia__tips--color;
    transform: translate(0vw, -50vh);
  }

  @media all and (min-width: 768px) {
    text-align: left;
    position: relative;
    left: 39px;
    top: 68px;
    bottom: 142px;
  }

  @media all and (min-width: 1200) {
    text-align: left;
    position: absolute;
    top: 75px;
    bottom: 135px;
    left: 370px;
  }
}

.footer_button-container {
  display: flex;
  position: absolute;
  align-items: flex-start;
  padding-bottom: 410px;


  @media all and (min-width: 768px) {
    padding-bottom: 290px;
    text-align: center;
  }

  @media all and (min-width: 1200) {
    display: flex;
    padding-bottom: 500px;
  }
}