.header {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: flex-start;
}

.hamburguer-button {
  width: 44px;
  height: 44px;
  background-color: $hamburguer__background--color;
}