.looking-container {
  background-color: $base-color;
  display: flex;
  flex-direction: column;
  position: static;
  text-align: left;
  height: 376px;
  padding-left: 15px;

  @media all and (min-width: 768px) {
    padding-left: 39px;
    height: 330px;
  }

  @media all and (min-width: 1280px) {
    padding-left: 275px;
    height: 360px;
  }
}

.insomnia-tips {
  width: 90px;
  height: 30px;
  font-size: 14px;
  margin-top: 30px;

  a {
    color: $base-color;
    font-family: $text-font;
    color: $insomnia__tips--color;
    text-decoration: none;
  }

  @media all and (min-width: 768px) {
    width: 216px;
    height: 14px;
    font-size: 16px;
    margin-top: 30px;

  }

  @media all and (min-width: 1280px) {
    width: 360px;
    height: 30px;
    font-size: 16px;
    margin-top: 60px;
  }
}

.looking {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  gap: 15px;
  line-height: 30px;
}

.looking-title {
  height: 60px;
  width: 290px;
  font-size: 24px;
  font-family: $title-font;
  text-transform: capitalize;

  @media all and (min-width: 768px) {
    width: 690px;
    height: 45px;
    font-size: 26px;
  }

  @media all and (min-width: 1280px) {
    width: 730px;
    height: 45px;
    font-size: 32px;
  }
}

.looking-description {
  height: 120px;
  width: 290px;
  font-size: 18px;

  @media all and (min-width: 768px) {
    width: 690px;
    height: 60px;
    font-size: 20px;
  }

  @media all and (min-width: 1280px) {
    width: 730px;
    height: 60px;
    font-size: 20px;
  }
}

.go-button {
  background-color: $base-color;
  color: $button-details;
  height: 45px;
  width: 76px;
  border-radius: 22.5px;
  border: solid 2px $button-details;

  &:hover {
    background-color: orange;
  }

  @media all and (min-width: 768px) {
    width: 160px;
    height: 45px;
    font-size: 20px;
  }
}